.modal {
  outline: none !important;

  img {
    width: 100%;
    height: 600px;
  }

  .btn-danger {
    font-size: 1.8rem;
    padding: 0rem 0.8rem;
    font-weight: 600;
  }

  &-body {
    padding: 0rem !important;
  }

  &-content {
    border: none !important;
  }

  &-header {
    border: none !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
